<% if (ShelfLife.currentUser) {%>
  <div class="form-title">
    <div class="submit">
      <button class="js-modal-open review">Leave a review</button>
    </div>

    <div class="review modal">
      <form class="modal-form new-review">

        <div class="form-title"><h3>Leave a review</h3></div>
        <div class="input"><label for="content"></label>
          <input type="textarea"
          id="content"
          name="review[content]">
        </input>

        <button class="modal-close shelf js-modal-close">Save</button>

      </form>

    </div>
  </div>
<% } %>
<div class="modal-screen js-modal-close"></div>
