
<% if (ShelfLife.currentUser) {%>
  <div class="form-title">
    <div class="submit">
      <button class="js-modal-open">Leave a review</button>
    </div>

    <div class="modal">
      <form class="modal-form">

        <div class="form-title"><h3>Leave a review</h3></div>
        <div class="input"><label for="content"></label>
          <input type="textarea"
          id="content"
          name="review[content]">
        </input>


        <button class="modal-close js-modal-close">Save</button>

      </form>
      <div class="modal-screen js-modal-close"></div>
    </div>
  </div>
<% } %>
