<form>

  <fieldset class="form-fieldset">
    <div class="form-title"><h3>Sign In</h3></div>
    <div class="input">
      <label for="email">Email</label>
      <input type="text" id="email" name="user[email]"></input>
      <label for="password">Password</label>
      <input type="password" id="password" name="user[password]"></input>
    </div>

    <div class="submit">
      <button>Sign In</button>
      <button class="demo-user">Demo User</button>
      <a href="#users/new>">or click here to <strong>Sign Up</strong></a>
    </div>
  </fieldset>
</form>
