<h2><strong>Friends</strong></h2>
<ul class="index accepted-friends"></ul>

<h2><strong>Pending Friends</strong></h2>
<ul class="index pending-friends"></ul>

<h2><strong>Friendship requests</strong></h2>
<ul class="index friendship-requests"></ul>
