<a href="#users/<%= user.id %>"><h2><%= user.escape('name') %></h2></a>
<% if (ShelfLife.currentUser && ShelfLife.currentUser.id != user.id) { %>
<button class="friend-toggle" data-initial-friend-state="<%= isFriend %>">
    <%= button %>
<% } %>
</button>
