<a href="#users" class="title">See all users</a>
<a href="#books" class="title">See all books</a>

<h3 class="title"><strong><%= user.escape('name') %></h3></strong>
<ul class="index shelves">
	<h2><strong>Shelves</strong></h2>
	<% user.shelves().each (function (shelf) { %>
		<li><h4><strong><%= shelf.escape('title') %></strong></h4>
		<ul>
			<% shelf.books().each (function (book) { %>
				<li><a href="#/books/<%= book.id %>"><%= book.escape('title')%></a></li>
			<% })%>
		</ul>
		</li>
	<% })%>
	</ul>
			
<section class="index group">
</section>
