<h2 class="title"><%= shelf.escape('title') %><h2>
<table class="tftable" border="1">
<thead>
<tr><th>cover</th><th>title</th><th>author</th><th>avg rating</th><th>rating</th></tr></thead>
<tbody class="book-rows"></tbody>
</table>
