<section class="new-user">

  <form action="<%= users_url %>" method="post" class="new-user">
    <%= auth_token %>
    <fieldset class="form-fieldset">
      <h3>Sign Up</h3>
      <div class="input"><label for="name">Name</label>
        <input type="text" id="name" name="user[name]"></input>
        <label for="email">Email</label>
        <input type="text" id="email" name="user[email]"></input>
        <label for="password">Password</label>
        <input type="password" id="password" name="user[password]"></input>
      </div>

      <div class="submit">
        <button>Sign Up</button>
      </div>
    </fieldset>
  </form>
<section>
