<ul class="index books">
  <h2><strong>All Books</h2></strong>
  <% @books.each do |book| %>
  <li class="book-overview">
    <a href="<%= book_url(book) %>"><h2><%= book.title %></h2></a>
    <a href="<%= book_url(book) %>"><img src="<%= book.cover %>"></a>
  </li>
  <% end %>
</ul>
