<section class="new-book">

  <form action="<%= books_url %>" method="post" class="new-book">
    <%= auth_token %>
    <fieldset class="form-fieldset">
      <div class="form-title"><h3>Add a Book</h3></div>
      <div class="input">
        <label for="isbn">ISBN</label>
        <input type="text"
          id="isbn"
          name="book[isbn]"
          placeholder="<%= @book.errors.messages[:isbn] ? @book.errors.messages[:isbn][0] : @book.isbn %>"
          class=" <% if @book.errors.messages[:isbn] %>
          <%= "error" %>
          <% end %>">
        </input>

      </div>

      <div class="submit">
        <button>Add Book</button>
      </div>
    </fieldset>
  </form>
  <section>
