<section class="book-profile">
  <section class="book-cover">
    <img src="<%= @book.cover %>">
    <%#= fail %>
  </section>
  <section class="book-info">
    <h3 class="title"><%= @book.title %></h3>
    <p><%= @book.description %>

    </p>
  </section>
</section>
