/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Reset */

html, body, div, h1, h2, h3, a, form, label, ul, li, section, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent
}

ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="checkbox"],
textarea,
button {
  background:inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*General Styles*/
h3 {
  font-weight: bold;
  font-size: 24px;
}

body {
  background: #FFFAF8;
}

button,
input[type="submit"] {
  position: relative;
  padding: 5px 10px;
  color: #000;
  border: 1px solid #ccc;
  background: #FFEEDA;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #664B42;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 50px #FFEEDA inset;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline: none;
}

.input .error {
  border: 2px solid red;
  font-style: italic
}

.input input:focus {
  border: 2px solid #ccc;
  -webkit-box-shadow: 0 0 0px 50px #FFEEDA inset;
  outline: none;
  font-style: normal;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin: 0px 0 10px 0px;
  padding: 10px 0px;
}

a.title {
  display: inline-block;
  font-size :16px;
  border: 1px solid #ccc;
  margin: 10px 0 10px 10px;
  padding: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-appearance: none;
  background: white;
  border:1px solid #ddd;
  border-radius: 5px;
  top: 0;
  left: 0;
}

.js-modal-open:hover {
  cursor: image-url('http://cur.cursors-4u.net/user/use-1/use30.cur'), progress !important;
}

// label > input[type="checkbox"]:hover input[type="checkbox"]:hover:after,
// input[type="checkbox"]:hover:after {
//   opacity: 0.2;
//   content: '';
//   position: absolute;
//   width: 8px;
//   height: 4px;
//   background: transparent;
//   top: 3px;
//   left: 3px;
//   border: 3px solid #450000;
//   border-top: none;
//   border-right: none;
//
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

input[type="checkbox"]:checked:after {
  opacity: 1;
  content: '';
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 3px solid #450000;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.error-message {
  position: absolute;
  left: 250px;
  color: #450000;
  font-style: italic;
  font-weight: bold;
  color: black;
  transition: color 1s ease;
}

.error-message.alert {
  color: red;
  transition: color 1s;
}


/*Header*/
.header {
  background: #450000;
  color: #FFEEDA;
  border-bottom: 1px solid #ccc;
	padding: 5px;
}

.header-name {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 18px;
	float: left;
	padding: 10px;
  margin: 0px 0px 0px 40px;
}

.nav-header {
	float: right;
}

a.explore {
	float: left;
	padding: 10px 25px 10px 25px;
	border-left: 2px solid #FFEEDA;
}

ul.profile-nav {
	float: left;
	padding: 5px 10px;
	position: relative;
	border-left: 2px solid #FFEEDA;
}


.header-profile {
	display: inline-block;
	padding-top: 5px;
	margin: 0 20px 0 15px;
	font-weight: bold;
}


.header-nav form {
	display: inline-block;
}

.header-nav button {
	float: right;
}

#main {
  width: 1200px;
  margin: auto;
}

.exception {
  font-weight: normal;
  font-style: italic;
}

/*Book Rating */
.rating {
  overflow: hidden;
  display: inline-block;
}
.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}
.rating-star {
  position: relative;
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: image-url('star.png') 0 -16px;

}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}

/*Form */

.form-fieldset {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  width: 500px;
  background: #FFFAF8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.input {
  margin: 0 0 20px 0;
}

.input > label {
  display: block;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

.input > input,
.input > textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #450000;
  border: 1px solid #A0522D;
  background: #FFEEDD;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #450000;
}

.submit a {
	padding: 10px;
	font-size: 14px;
	float: right;
}

.submit strong{
	display: inline-block;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

.form-fieldset.small {
	width: 200px;
	margin: 20px 20px;
}

/*Show pages */
.profile, .index {
  display: block;
  padding: 20px;
}

.profile li, .index li {
  padding: 5px;
}

.profile h2, .index h2 {
  padding-bottom: 10px;
  font-weight: bold
}

.book-overview {
  float: left;
  width: 225px;
  height: 260px;
  position: relative;
}

.book-overview a {
  text-align: center
}

.book-overview img {
  margin: auto;
  display: block
}

.add-to-shelf {
	position: relative;
}

.friend-toggle {
  margin: 5px;
  display: inline-block;
}

.rating h4 {
  display: inline;
  margin-right: 10px;
}

/* New shelf modal*/
.modal {
	display: none;
}

.modal.is-open {
	display: block;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 140px;
  width: 200px;
  transform: translateY(-50%);
  padding: 20px;
  background: #FFFAF8;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-close {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  border: 1px solid #450000;
}

.modal-close:hover {
  color: #450000;
}

.modal-form .input {
  margin: 0 0 10px 0;
}

/*.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}*/

.modal-form label {
	font-weight: normal;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/*.input > .modal-checkbox {
	display: inline-block;
	width: auto;
	margin-right: 10px;
}*/

.input > .modal-text {
	display: inline-block;
	padding: 10px;
	width: 140px;
}

.new-shelf {
  float: left;
  border-radius: 5px;

}

.modal-form input:focus {
	-webkit-box-shadow: none;
}

/*Shelf Show*/
.shelf-sidebar {
  width: 300px;
  border: 1px solid black;
  display: block;
  float: left;
}

.shelf-show {
  width: 600px;
  border: 1px solid black;
  display: block;
  float: left;
}

.shelf-books {
  margin-left: 20px;
}

li.shelf {
  padding: 5px;
  display: block;
}

li.shelf:hover {
  font-weight: bold;
}
