/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Reset */

html, body, div, h1, h2, h3, a, form, label, ul, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent
}

ul {
  list-style: none
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  background:inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

/*General Styles*/
h3 {
  font-weight: bold;
  font-size: 24px;
}

body {
  background: #FFFAF8;
}

button,
input[type="submit"] {
  position: relative;
  padding: 5px 10px;
  color: #000;
  border: 1px solid #ccc;
  background: #FFEEDA;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #664B42;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 50px #FFEEDA inset;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.input .error {
  border: 2px solid red;
  font-style: italic
}

.input input:focus {
  border: 2px solid #ccc;
  -webkit-box-shadow: 0 0 0px 50px #FFEEDA inset;
  outline: none;
  font-style: normal;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin: 0px 0 10px 10px;
  padding: 10px;
}

a.title {
  display: inline-block;
  font-size :16px;
  border: 1px solid #ccc;
  margin: 10px 0 10px 10px;
  padding: 10px;
}


/*Header*/
.header {
  background: #450000;
  color: #FFEEDA;
  border-bottom: 1px solid #ccc;
	padding: 5px;
}

.header-name {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 18px;
	float: left;
	padding: 10px;
  margin: 0px 0px 0px 40px;
}

.nav-header {
	float: right;
}

a.explore {
	float: left;
	padding: 10px 25px 10px 25px;
	border-left: 2px solid #FFEEDA;
}

ul.profile-nav {
	float: left;
	padding: 5px 10px;
	position: relative;
	border-left: 2px solid #FFEEDA;
}


.header-profile {
	display: inline-block;
	padding-top: 5px;
	margin: 0 20px 0 15px;
	font-weight: bold;
}


.header-nav form {
	display: inline-block;
}

.header-nav button {
	float: right;
}

/*Form */

.form-fieldset {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  width: 500px;
  background: #FFFAF8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.input {
  margin: 0 0 20px 0;
}

.input > label {
  display: block;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

.input > input,
.input > textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #450000;
  border: 1px solid #A0522D;
  background: #FFEEDD;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #450000;
}

.submit a {

	padding: 10px;
	font-size: 14px;
	float: right;
}

.submit strong{
	display: inline-block;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

/*Show pages */
.profile, .index {
  display: block;
  padding: 20px;
}

.profile a, .index a {
  display: block;
  padding: 10px 0px 5px 5px;
}
.profile li, .index li {
  padding: 5px;
}

.profile h2, .index h2 {
  padding-bottom: 10px;
  font-weight: bold
}

.book-overview {
  float: left;
  position: relative
}

.book-overview img {
  margin: auto;
  display: block
}
