/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Reset */

html, body, div, h1, h2, h3, a, form, label, ul, li, section, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent
}

ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="checkbox"],
textarea,
button {
  background:inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*General Styles*/
h2, h3, h4 {
	//font-family: 'Lobster', cursive;
		font-family: 'PT Sans', sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

body {
	background-image: url('https://ununsplash.imgix.net/38/zEk8RJdmQrqja2XwbjgJ_DSC_2368.jpg?q=75&fm=jpg&s=0a7f72fcbef949b219b2c83813bc3c45');
	 background-size:   cover;
	 opacity: .95;
	font-family: 'Gentium Book Basic', serif;
}

p {
	line-height: 1.5;
}
#main {
	width: 1000px;
	margin: auto;
  background: #FFFAF8;
	opacity: 0.9;
	border: 1px solid #ccc;
	min-height: 600px;
}

button,
input[type="submit"] {
  position: relative;
  padding: 5px 10px;
  color: #000;
  border: 1px solid #ccc;
  background: #FFEEDA;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #664B42;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 50px #FFEEDA inset;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline: none;
}

.input .error {
  border: 2px solid red;
  font-style: italic
}

.input input:focus, textarea:focus {
  border: 2px solid #ccc;
  -webkit-box-shadow: 0 0 0px 500px #FFEEDA inset;
  outline: none;
  font-style: normal;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin: 0px 0 10px 0px;
  padding: 10px 0px;
}

a.title {
  display: inline-block;
  font-size :16px;
  border: 1px solid #ccc;
  margin: 10px 0 10px 10px;
  padding: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-appearance: none;
  background: white;
  border:1px solid #ddd;
  border-radius: 5px;
  top: 0;
  left: 0;
}

.js-modal-open.book:hover {
  cursor: image-url('http://cur.cursors-4u.net/user/use-1/use30.cur'), progress !important;
}

input[type="checkbox"]:checked:after {
  opacity: 1;
  content: '';
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 3px solid #450000;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.exception {
  font-weight: normal;
  font-style: italic;
}

.error-message {
  position: absolute;
  left: 300px;
  color: #450000;
  font-style: italic;
  font-weight: bold;
  color: black;
  // opacity: 0.8;
  transition: color 2s;
}

.error-message.alert {
  color: red;
  // opacity: 1;
  transition: color 1s ease;
}

.img-profile {
  float: left;
  margin: 0 20px;
}

/*Header*/
.header {
  background: #450000;
  color: #FFEEDA;
	opacity: .9;
  border-bottom: 1px solid #ccc;
	padding: 5px;
}

.nav-header {
  width: 1000px;
  margin: auto;
}

.header-name {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 22px;
	letter-spacing: 2px;
	float: left;
	padding: 10px 0 10px 0;
}

.nav-list {
	float: right;
	width: 300px;
}

.nav-list li {
	float: left;

}

.nav-list .log-in {
	margin: 7px 0 8px 0px;
}

.nav-list .log-out {
	margin: 7px 0 8px -15px;
}

.nav-list a {
	display: block;
	padding: 10px 25px 10px 25px;
	border-left: 2px solid #FFEEDA;
}

ul.profile-nav {
	float: left;
	padding: 5px 10px;
	position: relative;
	border-left: 2px solid #FFEEDA;
}


.header-profile {
	display: inline-block;
	padding-top: 5px;
	margin: 0 20px 0 15px;
	font-weight: bold;
}

.header-nav form {
	display: inline-block;
}

.header-nav button {
	float: right;
}

/*Book Table*/

.tftable {
  font-size:12px;
  color:#333333;
  width:100%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;

}
.tftable th {
  font-size:14px;
  background-color: #FFEEDA;
  padding: 8px;
  border: 1px solid #450000;
  text-align:left;
}

.tftable tr {
  background-color:#FFF9F4;
}

.tftable td {
  font-size:12px;
  padding: 8px;
  border: 1px solid #450000;
  min-width: 50px;
}

.tftable tr:hover {
  background-color:#ffffff;
}

.tftable img {
  display: block;
  width: 50px;
}

.table-rating {
  width: 80px;
}

/*Book Rating */
.rating {
  overflow: hidden;
  display: inline-block;
}
.rating-input, .rating-static {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0;
}
.rating-star, .rating-star-static {
  position: relative;
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: image-url('star.png') 0 -16px;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}

.rating-static:checked ~ .rating-star-static {
  background-position: 0 0;
}

/*Form */

.form-fieldset {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  width: 500px;
  background: #FFFAF8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.input {
  margin: 0 0 20px 0;
}

.input > label {
  display: block;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

.input > input,
.input > textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}

.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #450000;
  border: 1px solid #A0522D;
  background: #FFEEDD;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #450000;
}

.submit a {
	padding: 10px;
	font-size: 14px;
	float: right;
}

.submit strong{
	display: inline-block;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

.form-fieldset.small {
	width: 200px;
	margin: 20px 20px;
}

//New Book
section.new-book {
	margin: 50px;
}

/*Show pages */
.profile, .index {
  display: block;
  padding: 20px;
}

.profile {
  position: relative;
}

.profile li, .index li {
  padding: 5px;
}

.profile h2, .index h2 {
  padding-bottom: 10px;
  font-weight: bold
}

.book-overview {
  float: left;
  width: 220px;
  height: 260px;
  position: relative;
}

.book-overview a {
  text-align: center
}

.book-overview img {
  margin: auto;
  display: block
}

.add-to-shelf {
	position: relative;
}

.friend-toggle {
  margin: 5px;
  display: inline-block;
}

.friend-accept, .friend-ignore {
	width: 80px;
	margin: 5px;
}


.rating h4 {
  display: inline;
  margin-right: 10px;
}

//User show
.main {
	width: 660px;
	margin: 20px;
	float: left;
}

.sidebar {
	margin-top: 20px;
	width: 300px;
	float: left;
}

.shelf-overview {
	display: block;
	
}

.shelf-overview a {
	padding: 20px;
	display: block;
}

.shelf-overview li {
	padding: 0;
	border-bottom: 1px solid #ccc;
}
	
/* New shelf modal, new review modal*/
.modal {
	display: none;
}

.modal.is-open, .modal.is-open {
	display: block;
}

.modal-shelf-form {
  position: absolute;
  top: 50%;
  left: 140px;
  width: 200px;
  transform: translateY(-50%);
  padding: 20px;
  background: #FFFAF8;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-review-form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 20px 0 20px;
  background: #FFFAF8;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-close {
  display: block;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  border: 1px solid #450000;
}

.modal-close.shelf {
  margin: 5px auto;
}

.save-review {
  display: block;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px auto;
  line-height: 1;
  cursor: pointer;
  border: 1px solid #450000;
}

.modal-shelf-form .input,
.modal-review-form .input {
  margin: 0 0 10px 0;
}

.modal-review-form textarea {
  min-height: 150px;
  outline: none;
}

/*.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}*/

.modal-form label {
	font-weight: normal;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/*.input > .modal-checkbox {
	display: inline-block;
	width: auto;
	margin-right: 10px;
}*/

.input > .modal-text {
	display: inline-block;
	padding: 10px;
	width: 140px;
}

.new-shelf {
  float: left;
  border-radius: 5px;

}

.modal-form input:focus {
	-webkit-box-shadow: none;
}


// Book Review
//.shelf-show {
//  width: 200px;
//}

/*Shelf Show*/
.shelf-sidebar {
  width: 210px;
	margin: 20px;
  display: block;
  float: left;
}

.shelf-show {
  width: 620px;
	margin:20px;
  display: block;
  float: left;
}

.shelf-books {
  margin-left: 20px;
}

li.shelf {
  padding: 5px;
  display: block;
}

li.shelf:hover {
  font-weight: bold;
}
